{% extends "layout.html" %}
{% block mainContent %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>PCAM Assessment</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
    <style>
        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
          }

          a:hover {
            background-color: #ddd;
            color: black;
          }

          .previous {
            background-color: #f1f1f1;
            color: black;
          }

          .next {
            background-color: #4CAF50;
            color: white;
          }
    </style>
</head>

<body>
    <div>
    <h1>Health Literacy and Communication</h1>
    <ol>
        <li>
            <p>How well does the client now understand their health and well-being (symptoms, signs or risk factors) and what they need to do to manage their health</p>
        </li>

            <label for="Options"> Choose the option that best describes the situation:</label>
                <select name="Options" id="Options">
                    <option value="option 1">Reasonable to good understanding and already engages in managing health or is willing to undertake better management</option>
                    <option value="option 2">Reasonable to good understanding but do not feel able to engage with advice at this time</option>
                    <option value="optionn 3">Little understanding which impacts on their ability to undertake better management</option>
                    <option value="option 4"> Poor understanding with significant impact on ability to manage health</option>
                </select>
                <br>

        <li>
            <p>How well do you think your client can engage in healthcare discussions? (Barriers include language, deafness, aphasia, alcohol or drug problems, learning difficulties, concerntration) </p>
        </li>

            <label for="Options">Choose the option that best describes the situation</label>
                <select name="Options" id="Options">
                    <option value="option 1">Clear and open communication, no identified barriers</option>
                    <option value="option 2">Adequate communication, with or without minor barriers</option>
                    <option value="option 3">Some difficulties in communication with or without moderate barriers</option>
                    <option value="option 4">Serious difficulties in communication, with severe barriers</option>
                </select>

    </div>
    <br>
    <div>
        <label for="Notes" class="required">Notes:</label>
        <form action="notes" method="POST" id="notes"></form>
            <input type="text">
    </div>
    <br>
    <fieldset>
        <legend>Assessment category</legend>

        <label class = "Green" for="rountineCare">Rountine Care</label>
        <input type = "radio" name="assessmentCategory" id="rountineCare" value="rountineCare" checked="checked"/>

        <label class = "Yellow" for="activeMonitoring">Active Monitoring</label>
        <input type ="radio" name="assessmentCategory" id="activeMonitoring" value="activeMonitoring">

        <label class = "Orange" for="planAction">Plan Action</label>
        <input type = "radio" name="assessmentCategory" id="planAction" value="planAction"/>

        <label class ="Red" for="actNow">Act Now</label>
        <input type ="radio" name="assessmentCategory" id="actNow" value="actNow"/>
    </fieldset>
    <br>
    <p id="patientID2">{{ ptid }}</p>
    <button id="p3_prevBtn" class="previous">&laquo; Previous</button>
    <button id="p3_nextBtn" class="next">Next &raquo;</button>
    <!-- <a href="p2.html" class="previous">&laquo; Previous</a>
    <a href="p4.html" class="next">Next &raquo;</a> -->

</body>
{% endblock %}